In [7]:
import re

In [8]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+", "", text)
    text = re.sub(r"[^a-z\s]", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    return text

In [9]:
clean_text("This is a sample TEXT! Visit http://example.com.")

'this is a sample text visit'

In [24]:
import pandas as pd

def load_raw_data(path):
    return pd.read_csv(path)

df=pd.read_csv(r'C:\Users\Ritesh\Desktop\spam_classif_mlops\data\raw\Messages.csv')

In [25]:
print(df.head())

   Unnamed: 0 Label                                            Message  \
0         605   ham  Subject: enron methanol ; meter # : 988291\r\n...
1        2349   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2        3624   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3        4685  spam  Subject: photoshop , windows , office . cheap ...
4        2030   ham  Subject: re : indian springs\r\nthis deal is t...

   label_num
0          0
1          0
2          0
3          1
4          0

In [26]:
df

,Unnamed: 0,Label,Message,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [28]:
df["Label"].map({"ham": 0, "spam": 1})

0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: Label, Length: 5171, dtype: int64

In [29]:
df

,Unnamed: 0,Label,Message,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [32]:
df=df[["Label","Message"]]

In [33]:
df

     Label                                            Message
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...
...    ...                                                ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169   ham  Subject: industrial worksheets for august 2000...
5170  spam  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [34]:
import joblib

In [38]:
X_test, y_test = joblib.load(r"C:\Users\Ritesh\Desktop\spam_classif_mlops\artifacts\X_test.pkl")

In [40]:
X_test

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 94043 stored elements and shape (1035, 5000)>